<div data-sticky-container>
    <div class="title-bar" data-sticky data-margin-top="0">
        <div class="title-bar-left">
            <ul class="menu">
                <li class="menu-text">Wement</li>
                <li><a href="/">Home</a></li>
                <li><a href="/api">Api</a></li>
                <li><a href="/about">About</a> </li>
                <li><a href="https://github.com/cmlanche/wement">Github</a> </li>
            </ul>
        </div>
        <div class="title-bar-right">
            <ul class="menu">
                <li><a href="/login">Login</a> </li>
                <li><a href="/user.html"><img src="assets/img/sample.jpg"></a> </li>
            </ul>
        </div>
    </div>
</div>